<div class="main_container">
    <div class="add_container">

        <h1>Добавить новую тему</h1>

      {{#if error}}
      <p class="alert">{{error}}</p>
      {{/if}}


      <form action="/add" method="POST" novalidate>
        <div class="input-field">
          <label for="title">Название темы</label>
          <input id="title" name="title" type="text" class="validate" placeholder="Введите название" required value="{{data.title}}">
          <span class="helper-text" data-error="Введите название"></span>
        </div>

        <div class="input-field">
          <label for="description">Краткое описание</label>
          <input id="description" name="description" type="text" class="description" class="validate" 
          placeholder="Добавьте краткое описание" required value="{{data.title}}">
          <span class="helper-text" data-error="Введите описание"></span>
        </div>

        <div class="input-field">
          <label for="img">URL картинки</label>
          <input id="img" name="img" type="text" class="validate" placeholder="Введите URL-адрес картинки" required value="{{data.img}}">
          <span class="helper-text" data-error="Введите url картинки"></span>
        </div>

        <input type="hidden" name="_csrf" value="{{csrf}}">

        <button class="btn btn-primary">Добавить</button>
      </form>
    </div>
</div>