{{#if questions.length}}
<div class="question_card_container">
  {{#each questions}}
  <div class="question_card">
    <div class="question_card-content">
      <span class="question_card_title">Вопрос: {{title}}</span>
      <li>Вариант А: {{optionA}}</li>
      <li>Вариант В: {{optionB}}</li>
      <li>Вариант С: {{optionC}}</li>
      <li>Вариант D: {{optionD}}</li>
      <li>Правильный ответ: {{correctOption}}</li>
      <li>Тема: {{theme}}</li>
      <div class="btn_wrapper">
        <a class="btn" href="/editQuestion/{{id}}">Редактировать</a>
      </div>
    </div>
  </div>
  {{/each}}
  {{/if}}