<div class="editQuestion_container">
      <div class="add_container">
            <h1>Редактировать вопрос</h1>
            <form action="/deleteQuestion" method="POST">
                  <input type="hidden" name="id" value="{{question.id}}">
                  <button class="deleteBtn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                              class="bi bi-trash-fill" viewBox="0 0 16 16">
                              <path
                                    d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                        </svg>
                  </button>
                  <input type="hidden" name="_csrf" value="{{csrf}}">
            </form>

            {{#if error}}
            <p class="alert">{{error}}</p>
            {{/if}}

            <form action="/updateQuestion" method="POST">
                  <div class="input-field">
                        <label for="questionTitle">Вопрос</label>
                        <input name="questionTitle" type="text" class="validate" required value="{{question.title}}">
                        <span class="helper-text" data-error="Введите вопрос"></span>
                  </div>

                  <div class="input-field">
                        <label for="optionA">Вариант А</label>
                        <input name="optionA" type="text" class="validate" required value="{{question.optionA}}">
                        <span class="helper-text" data-error="Укажите вариант А"></span>
                  </div>

                  <div class="input-field">
                        <label for="optionB">Вариант В</label>
                        <input name="optionB" type="text" class="validate" required value="{{question.optionB}}">
                        <span class="helper-text" data-error="Укажите вариант B"></span>
                  </div>

                  <div class="input-field">
                        <label for="optionC">Вариант C</label>
                        <input name="optionC" type="text" class="validate" required value="{{question.optionC}}">
                        <span class="helper-text" data-error="Укажите вариант C"></span>
                  </div>

                  <div class="input-field">
                        <label for="optionD">Вариант D</label>
                        <input name="optionD" type="text" class="validate" required value="{{question.optionD}}">
                        <span class="helper-text" data-error="Укажите вариант D"></span>
                  </div>

                  <div class="input-field">
                        <label for="correctOption">Правильный вариант</label>
                        <input name="correctOption" type="text" class="validate" required
                              value="{{question.correctOption}}">
                        <span class="helper-text" data-error="Укажите правильный вариант"></span>
                  </div>

                  <div class="input-field">
                        <label for="selectTheme">Выберите тему</label>
                        <select name="theme" id="select">
                              {{#each cards}}
                              <option>{{title}}</option>
                              {{/each}}
                        </select>
                  </div>

                  <div class="edit_question_btn">
                        <input type="hidden" name="id" value="{{question.id}}">
                        <button class="btn">Сохранить изменения</button>
                        <input type="hidden" name="_csrf" value="{{csrf}}">
            </form>

      </div>
</div>
</div>