<div class="theme_container">
    <div class="theme">
        {{#if isAdmin}}
            <div class="theme_edit_action">
            <a class="btn" href="/theme-edit/{{cards.id}}">Редактировать</a>
            <form action="/deleteTheme" method="POST">
                <input type="hidden" name="id" value="{{cards.id}}">
                <button class="btn">Удалить</button>
                <input type="hidden" name="_csrf" value="{{csrf}}">
            </form>
            </div>
        {{/if}}
        <h1>{{cards.title}}</h1>
        <p>{{cards.description}}</p>
        <img src="{{cards.img}}" alt="{{cards.title}}">
        <input type="hidden" name="_csrf" value="{{csrf}}">
        <input type="hidden" name="id" value="{{cards.id}}">
        <div class="theme_text">
        <p>{{cards.text}}</p>
        </div>
    </div>

</div>